#backtotop {
  background: url(../backtotop.png) no-repeat center center;
  bottom: 10px;
  cursor: pointer;
  display: none;
  height: 80px;
  position: fixed;
  right: 10px;
  text-indent:-9999px;
  width: 80px;
  z-index: 2000;
}

#backtotop:hover {
  opacity: 0.8;
}

<!--[if lte IE 6]>
html {
  overflow-x: auto;
  overflow-y: hidden;
}

* html #backtotop {
  position:absolute;
}
<![endif]-->

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 

  #backtotop {
    background: url(../backtotop2x.png) no-repeat center center;
    background-size: 80px 80px;
  }

}