/* Bootstrap Responsive changement*/
body{
	background-color:#fff;
}

h1, h2, h3, h4, h5, h6 {
line-height: 1.1;
color: inherit;
font-weight: 400;
letter-spacing: .06em;
text-transform: uppercase;
}
.displaynone{
	display:none;
}
header.navbar{
	border-radius: 0px;
	}
body.node-type-slider{
	overflow:hidden;
}
div#preloader{
	margin-top:200px;
}
.content-preload{
  position:relative;
  height:1080px;
  left:29%;
  top:25%;
}
@media (min-width: 1025px){
    img.img-preload{
      width:350px;
    }
}
@media (max-width: 1024px){ 
	img.img-preload{
    width:350px;
  }
}
@media (max-width: 768px){
	.content-preload {
    position: relative;
    left: 20px;
    top: 15%;
  }
  img.img-preload{
    width:250px;
  }
}
@media (max-width: 768px){
	div.black_sheep_wall_closed{
		-webkit-transition: opacity .15s ease-in;
		transition: opacity .15s ease-in;
		opacity: 100;
		filter: alpha(opacity=100);
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
	div.black_sheep_wall{
		-webkit-transition: opacity .15s ease-in;
		transition: opacity .15s ease-in;
		opacity: 0.3;
		filter: alpha(opacity=30);
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}
@media (min-width: 1555px){
	section.slider.slider_big_display{
		min-height: 485px;
		}
	.node-type-slider section.section_front{
		min-height:311px;
		}
}
@media (max-width: 1554px){
	section.slider.slider_big_display{
		min-height: 240px;
		}
	.node-type-slider section.section_front{
		min-height:154px;
		}
}
@media (max-width: 768px){
	section.slider.slider_small_display{
		min-height: 204px;
		}
	.node-type-slider section.section_front{
		min-height:152px;
		}
	.node-type-page-folio section.slider_small_display img{
	margin-bottom: 78px;
	}
}
.node-type-slider section.block-system{
	margin-bottom:15px;
	}
/* ------------------------------------------------------------------------------------------------------------------------ */
/* User Login                                                                                                                 */
/* ------------------------------------------------------------------------------------------------------------------------ */
.not-logged-in.page-user div.region.region-content,
.not-logged-in.page-user ul.tabs--primary.nav.nav-tabs{
	max-width:1555px;
	margin:0 auto;
	}
.not-logged-in.page-user div.form-type-textfield{
	margin-top:2%;
	}
.not-logged-in.page-user form{
	width:98%;
	margin:0 auto;
	}
.not-logged-in.page-user input.form-text{
	width:50%;
	}
@media (max-width: 769px){
	.not-logged-in.page-user input.form-text{
	width:80%;
	}
}
@media (max-width: 480px){
	.not-logged-in.page-user input.form-text{
	width:100%;
	}
}
/* ------------------------------------------------------------------------------------------------------------------------ */
/* Store                                                                                                                    */
/* ------------------------------------------------------------------------------------------------------------------------ */
div.cart-contents{
	width:90%;
	margin:0 auto;
	max-width:1555px;
}
.node-type-shop.i18n-en img.commerce_details_fr,
.node-type-shop.i18n-en div.store_link_fr,
.node-type-shop.i18n-en img.commerce_mobile_fr,
.page-node-44.i18n-en img.commerce_fr,
.page-node-45.i18n-en img.commerce_fr{
	display:none;
	}
.node-type-shop.i18n-fr img.commerce_details_en,
.node-type-shop.i18n-fr div.store_link_en,
.node-type-shop.i18n-fr img.commerce_mobile_en,
.page-node-44.i18n-fr img.commerce_en,
.page-node-45.i18n-fr img.commerce_en{
	display:none;
	}
.page-node-44.i18n-fr #block-system-main,
.page-node-45.i18n-fr #block-system-main{
	margin-top:-18px;	
	}
.page-node-44 .field-name-body,
.page-node-45 .field-name-body,
.page-node-44 div.field-type-commerce-product-reference,
.page-node-45 div.field-type-commerce-product-reference,
.page-node-44 div.field-name-field-couleur,
.page-node-44 div.field-name-field-choix-du-sexe,
.page-node-44 div.commerce-product-sku,
.page-node-44 div.field-name-field-t-shirt-names,
.page-node-45 div.field-name-field-couleur,
.page-node-45 div.field-name-field-choix-du-sexe,
.page-node-45 div.commerce-product-sku,
.page-node-45 div.field-name-field-t-shirt-names,
.page-node-44 div.commerce-product-title,
.page-node-45 div.commerce-product-title,
.page-node-44 .side_a img,
.page-node-45 .side_a img,
.node-type-shop .field-name-field-product .field-label,
li.products-list-li .field-label,
.node-type-shop div.field-label,
div.cart-empty-block{
	display:none;
	}
.page-node-44 div.view-content,
.page-node-45 div.view-content{
	margin-top:25px;
	}
.views-field-title span.field-content{
	color: #7b878f;
	border-top: 1px solid #7b878f;
	padding-top:2%;
	}
.products-list-li img{
	margin-bottom:8%;
	}
.page-node-44  button.form-submit,
.page-node-45 button.form-submit{
	display:none;
	}
/*
.page-node-44 div.view-filters,
.page-node-45 div.view-filters{
	margin-top:1%;
	}
*/
div.form-type-bef-link{
	border: solid 1px rgb(66, 153, 216);
	}
span.see_details a,	
div.form-type-bef-link a{
	font-size:20px;
	padding:10px;
	text-transform: uppercase;
	}
.products-list-li div.views-field.views-field-title{
	margin-bottom: 5%;	
	}
span.see_details{
	border: solid 1px rgb(66, 153, 216);
	background-color: #fff;
	padding:10px;
	margin-top:2%;
	margin-left: 32%;
	}
span.see_details a{
	color: #428bca;
	text-decoration: none;
	}
span.see_details:hover{
	background-color: #46b3e3;
	color:#fff;
	}
span.see_details:hover > a{
	color:#fff;
	}
/*
.page-node-44 a.active,
.page-node-45 a.active{
	color:#fff;
	background-color: #46b3e3;
	text-decoration: none;
	}
*/
span.see_details a:hover{
	color:#fff;
	}
div.form-type-bef-link:hover{
	background-color: #46b3e3;
	text-decoration: none;
	}
div.form-item .selected{
	background-color: #46b3e3;
	}
div.form-item .selected a{
	color: #fff;
	}
div.form-item .selected a:hover{
	color: #fff;
	text-decoration: none;
	}
div.form-item a:hover{
	color: #fff;
	text-decoration: none;
	}
div.form-item a:active{
	color: #fff;
	text-decoration: none;
	}
div.form-item .selected{
	background-color: #46b3e3;
	color: #fff;
	}
.form-type-bef-link{
	float:left;
	margin-right:20px;
	}
.node-type-shop .breadcrumb {
	margin-bottom: 0px;
	}
.views-exposed-widget.views-widget-filter-field_choix_du_sexe_tid{
	width:100%;
}

/*
@media (max-width: 610px){
	.views-exposed-widget.views-widget-filter-field_choix_du_sexe_tid{
	margin-left:2%;
	}
}

*/
.node-type-shop img.commerce_details_fr,
.node-type-shop img.commerce_details_en{
	width:100%;
	max-width:1555px;
	margin-bottom:15px;
	}
.node-type-shop section.shop_section{
	width:100%;
	margin-bottom:39px;
	}
.node-type-shop div.side_b img{
	width: 80%;
	}
.node-type-shop div.side_b h2{
	font-size: 1.2em;
	float: left;
	color: #7b878f;
	border-bottom: 1px solid #7b878f;
	margin-bottom: 4%;
	padding-bottom: 1%;
	width: 80%;
	}
.node-type-shop div.produit{
	width:80%;
	}
.node-type-shop div.product_display_details{
	width:100%;
	}
.node-type-shop .btn-default,
.node-type-shop .btn-success {
	border: solid 1px rgb(66, 153, 216);
	background-color: #fff;
	border-radius: 0px;
	color: #428bca;
	padding: 10px;
	margin-top: 2%;
	font-size: 20px;
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
	width:100%;
	}
.node-type-shop .responsive-front p {
  font-size: 1em;
}
.view-my-shop-block-view div.text-center,
.view-my-shop-en div.text-center{
	margin-bottom:39px;
}
.node-type-shop .btn-default:hover,
.node-type-shop .btn-success:hover {
	background-color: #46b3e3;
	color: #fff;
	font-size: 20px;
	}
.node-type-shop .field-label-inline .field-items{
  float: none;
	}
.node-type-shop div.div_description{
	margin-right:10%;
	text-align:right;
	}
.node-type-shop div.field-name-body p{
	color:#000;
	text-align:right;
	width: 100%;
	margin-top: 8%;
	margin-bottom: 4%
	}
.node-type-shop div.store_link_en,
.node-type-shop div.store_link_fr{
	margin-left:1%;
	padding:5px;
	}
.node-type-shop div.side_a h4{
	font-size: 2em;
	}
.node-type-shop div.field-item{
	font-size:18px;
	}
div.field-name-field-prix div.field-item{	
	font-size:24px;
	color: #46b3e3;
	}
div.view-commerce-cart-form{
	width: 90%;
	margin: 0 auto;
	}
.page-checkout div.region-content{
	max-width: 1555px;
	min-width:347px;
	width: 96%;
	overflow-x:scroll;
	}
.commerce_stock_notifications_fieldset p{
	color: #000 !important;
	}
ul.products_list{
	width: 98%;
	margin: 0 auto;
	}  
div.div_see_details{
	width:220px;
	}
.page-node-44 div.form-group,
.page-node-45 div.form-group{
	padding:5px;
	}
.views-exposed-form .views-exposed-widget {
  padding: 0;
}
@media (min-width: 1401px){
	ul.products_list{
		list-style-type:none;
	}
	li.products-list-li{
		width:20%;
		float:left;
		margin-bottom:50px;
	}
	li.products-list-li h2{
		font-size:14px;
	}
}
@media (max-width: 1401px){
	ul.products_list{
		list-style-type:none;
	}
	li.products-list-li{
		width:25%;
		float:left;
		margin-bottom:50px;
	}
	li.products-list-li h2{
		font-size:14px;
	}
}
@media (max-width: 1200px){
	ul.products_list{
		list-style-type:none;
	}
	li.products-list-li{
		width:33.33%;
		float:left;
		margin-bottom:50px;
	}
	li.products-list-li h2{
		font-size:14px;
	}
}
@media (max-width: 960px){
	ul.products_list{
		list-style-type:none;
	}
	li.products-list-li{
		width:50%;
		float:left;
	}
	li.products-list-li h2{
		font-size:14px;
	}
	ul.products_list{
	width: 90%;
	margin: 0 auto;
	}
}
@media (min-width: 769px){
img.commerce_mobile_fr,
img.commerce_mobile_en{
	display:none;
	}
	div.views-exposed-form{
	margin-left:0.5%;
	}
	div.view-filters{
	margin-top:0;
	}
}
@media (max-width: 768px){
	.node-type-shop .side_b{
	width:100%;
	}
	div.view-filters{
	margin-top:0.5%;
	}
	div.views-exposed-form{
	margin-left:3%;
	}
	.node-type-shop img.commerce_details_fr,
	.node-type-shop img.commerce_details_en{
	display:none;
	}
	.form-type-bef-link{
	float:left;
	}
	.page-node-44 div.form-group,
	.page-node-45 div.form-group{
	min-width:25px;
	float:left;
	}	
	.page-node-44.i18n-en img.commerce_mobile_fr,
	.page-node-45.i18n-en img.commerce_mobile_fr{
	display:none;
	}
	.page-node-44.i18n-fr img.commerce_mobile_en,
	.page-node-45.i18n-fr img.commerce_mobile_en{
	display:none;
	}
	.page-node-44.i18n-en img.commerce_mobile_en,
	.page-node-45.i18n-en img.commerce_mobile_en{
	display:block;
	}
	.page-node-44.i18n-fr img.commerce_mobile_fr,
	.page-node-45.i18n-fr img.commerce_mobile_fr{
	display:block;
	}
	.i18n-en img.commerce_en,
	.i18n-fr img.commerce_fr{
	display:none;
	}
	.page-node-44.i18n-en #block-system-main,
	.page-node-45.i18n-en #block-system-main{
	margin-top:-18px;	
	}
	.node-type-shop div.form-group {
	min-width: 72px;
	float: left;
	}
	.node-type-shop div.field-name-body p {
	color: #000;
	text-align: left;
	width: 100%;
	margin-top: 4%;
	margin-bottom: 0;
	}
	.node-type-shop div.div_description {
	text-align: left;
	margin-top: 8%;
	width: 80%;
	margin: 0 auto;
	}
	.node-type-shop div.side_a h4 {
	font-size: 1.2em;
	}
	.node-type-shop div.field-item {
	font-size: 13px;
	}
	div.field-name-field-prix div.field-item {
	font-size: 1.5em;
	}
	.page-cart section#block-system-main{
		width:100%;
	}
	.page-cart div.view-commerce-cart-form {
	  width: 90%;
	  margin: 0 auto;
	}
	.node-type-shop .responsive-front p {
	padding-bottom: 20px;
	}
	.node-type-shop .product_display_details_center{
	width: 80%;
    margin: 0 auto;
	}
	.node-type-shop div.side_b h2 {
	width: 100%;
	}
	.node-type-shop div.side_b img {
	width: 100%;
	}
	.node-type-shop div.produit {
	width: 100%;
	}
	.node-type-shop div.store_link_en, .node-type-shop div.store_link_fr {
	margin-left: 3%;
	margin-top: 1%;
	}
	.node-type-shop div.responsive-front h2{
	padding-top: 20px;
	}
}
@media (max-width: 610px){
	ul.products_list{
		list-style-type:none;
	}
	li.products-list-li{
		width:70%;
		float:none;
		margin:0 auto;
		padding-bottom:50px;
	}
	li.products-list-li h2{
		font-size:14px;
	}
	div.products_store{
		min-width:100%;
		overflow: hidden;
	}
}
@media (max-width: 430px){
	ul.products_list{
		list-style-type:none;
	}
	li.products-list-li{
		float:none;
		margin:0 auto;
		padding-bottom:50px;
		width:80%;
	}
	li.products-list-li h2{
		font-size:14px;
	}
	span.see_details a, div.form-type-bef-link a {
	font-size: 17px;
	padding: 10px;
	}
	ul.products_list{
	padding-left:12px;
	}
	.page-cart div.view-commerce-cart-form {
	  width: 100%;
	  margin: 0 auto;
	}
	.page-cart div.line-item-summary {
	margin-right: 1em;
	}
	.page-cart button.btn-default,
	.page-cart button.btn-info {
	  margin-right: 1em;
	}
	.page-cart div.region.region-content {
	 overflow: scroll;
	}
}
@media (max-width: 375px){
	.page-node-44 div.form-group,
	.page-node-45 div.form-group{
	padding:2px;
	}
	.node-type-shop div.store_link_en,
	.node-type-shop div.store_link_fr{
	padding:2px;
	}
}
@media (max-width: 350px){
	li.products-list-li span{
		font-size:0.9em;
	}
	.form-type-bef-link {
	  float: left;
	  margin-right: 10px;
	}
}
@media (max-width: 325px){
	.page-node-44 div.form-group,
	.page-node-45 div.form-group{
	padding:0;
	}
	.node-type-shop div.store_link_en,
	.node-type-shop div.store_link_fr{
	padding:0;
	}
}
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0em;
}
.node-type-contact-form div.form-group{
	width:50%;
}
.node-type-contact-form p.help-block{
	display:none;
}
/* ------------------------------------------------------------------------------------------------------------------------ */
/* Store Fin                                                                                                                */
/* ------------------------------------------------------------------------------------------------------------------------ */
.node-type-contact-form div.row{
	max-width:1555px;
	margin:0 auto;
	overflow: hidden;
}
.node-type-contact-form aside.col-sm-3{
	display:block;
	width:100%;
}
#block-formblock-contact-site{
	width:100%;
	padding-top:15px;
	padding-right:10px;
	padding-left:10px;
}
@media (min-width: 1200px){
	.node-type-contact-form .projets_logo {
	  display:none;
	  bottom: 50px;
	  right: 8%;
	  position: fixed;
	  float: right;
	  width: 354px;
	  height: 318px;
	}
}
@media (max-width: 1199px){
	.node-type-contact-form .projets_logo {
	  display:none;
	}
}
@media (min-width: 769px){
	.node-type-contact-form .form-wrapper{
	  width: 49%;
	  float: right;
	  position: relative;
	  top: -360px;
	}
	.node-type-contact-form aside.col-sm-3{
	max-height:460px;
	}
	section .google_map_mobile{
	  display:none;
	}
}
@media (max-width: 768px){
	.node-type-contact-form aside.col-sm-3{
	display:block;
	min-width:100%;
	}
	div.form-group{
	min-width:100%;
	float:none;
	}
	fieldset .captcha{
	min-width:100%;
	float:none;
	}
	#block-formblock-contact-site{
	padding-bottom:30px;
	}
	.node-type-contact-form .projets_logo,
	section .google_map_big{
	  display:none;
	}
}
.node-type-shop div.breadcrumb,
.page-node-44 div.breadcrumb,
.page-node-45 div.breadcrumb,
.page-node-33 div.breadcrumb,
.page-node-34 div.breadcrumb,
.page-contact div.breadcrumb,
.node-type-page-folio div.breadcrumb,
.node-type-contact-form div.breadcrumb{
	display:none;
}
.container,
.col-sm-9,
.navbar.container {
	width:100%;
	max-width:100%;
	margin-top: -1px; 
	}
header.navbar{
	position: fixed;
	top: 0;
	z-index: 999;
}
.main-container {
	background-color:#fff;
	position: relative;
	padding-bottom:20px;
	margin-top: 50px;
	z-index: 9;
}

section #block-views-gallery-preview-block{
	max-width: 1240px;
	margin: 0 auto;
	overflow: hidden;
}
/* ---------------------------------- */
/* Responsive Front                   */
/* ---------------------------------- */
/* ------------------------------------------------ */
/* Responsive Front  JW Inspiration                 */
/* ------------------------------------------------ */
.icon-stacked {
	display: inline-block;
	height: 4em;
	right: .3em;
	position: absolute;
	top: .6em;
	width: 4em;
}
.post-label:before {
content: '';
}
.post-label:before{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #46b3e3;
	-webkit-transition: opacity .15s ease-in;
	transition: opacity .15s ease-in;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
section.front-promo-2:hover>img,
section.front-promo-3:hover>img,
section.front-promo-4:hover>img,
section.front-promo-5:hover>img{
	opacity: 0.85;
	filter: alpha(opacity=85);
}
.icon-stacked-foreground {
	width: 50%;
	height: 50%;
	-webkit-transform: translate(50%,50%);
	-ms-transform: translate(50%,50%);
	transform: translate(50%,50%);
}
.icon-stacked-foreground {
	position: absolute;
	color: #fff;
	top: 0;
	left: 0;
}
.icon-stacked-background svg {
	fill: #fff;
}
.icon-stacked-foreground svg {
	fill: #e78a12;
}
.vertically-center .icon-stacked-background svg {
	fill: #fff;
}
.vertically-center .icon-stacked-foreground svg {
	fill: #fff;
}
footer svg{
	fill: #fff;
	z-index:2001;
}
.vertically-center {
	position: absolute;
	width: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
/* ------------------------------------------------ */
/* Responsive Front  JW Inspiration                 */
/* ------------------------------------------------ */

div.responsive-front section{
	float:left;
	position:relative;
}
div.responsive-front{
	padding-top:4px;
}
.responsive-front:before{
	content: " ";
	display: table;
}
.flexslider img,
div.responsive-front{
	max-width: 1555px;
	margin: 0 auto;
	overflow: hidden;
}
img.div_for_back{
	max-width: 1555px;
	min-width:auto;
	margin: 0 auto;
	overflow: hidden;
	position:fixed;
	top:0;
	z-index:-100;
}
.responsive-front h2{
	color:#fff;
	text-align: center;
	font-size: 36px;
	margin: 0 auto;
}
.responsive-front p{
	color:#fff;
	text-align: center;
	font-size: 1.3em;
	margin: 0 auto;
	width: 70%;
}
.front-promo-2 img,
.front-promo-3 img,
.front-promo-4 img,
.front-promo-5 img{
	width: 100%;
}
section.front-promo-1{
	background-color:#e78a12;
	width:60%;
}
section.front-promo-6{
	background-color:#54890B;
	width:60%;
}
section.front-promo-2,
section.front-promo-3,
section.front-promo-4,
section.front-promo-5
{
	width:20%;
}
section.front-promo-5:after {
content: " ";
display: table;
}
.front-promo-1 .vertically-center .icon-stacked {
	  display:none;
	}
.front-promo-6 .vertically-center .icon-stacked {
	  display:none;
	}
@media (max-width: 1100px){
	.responsive-front h2{
		font-size: 2em;
	}
	.responsive-front p{
		font-size: 1em;
	}
	.vertically-center .icon-stacked {
	height: 2.5em;
	width: 2.5em;
	right: .3em;
	top: 12%;
	}
	.icon-stacked {
	height: 2.5em;
	width: 2.5em;
	}
}
@media (max-width: 768px){
	section.front-promo-1,
	section.front-promo-6{
	width:100%;
	}
	section.front-promo-2,
	section.front-promo-3,
	section.front-promo-4,
	section.front-promo-5{
	width:50%;
	}
	.responsive-front h2{
		font-size: 2em;
		padding-top:40px;
	}
	.responsive-front p{
		font-size: 1em;
		padding-bottom:40px;
	}
	.icon-stacked {
	height: 2.5em;
	width: 2.5em;
	}
	.vertically-center .icon-stacked {
	height: 2.5em;
	width: 2.5em;
	right: .3em;
	top: 12%;
	}
	div.responsive-front{
	padding-top:2px;
	}
}
@media (max-width: 360px){
	.responsive-front p {
	  font-size: 0.8em;
	  padding-bottom: 40px;
	}
}
ul.slides{
	background-color:#f1f1f0;
}
section.front-promo{
	max-width: 600px;
	margin: 0 auto;
	overflow: hidden;
}
/* ---------------------------------- */
/* Responsive Front                   */
/* ---------------------------------- */

div.view-clone-of-gallery-preview,
section.front-promo,
.view-pommes-gallery,
.view-genesis-2015-gallery,
.view-plamates-gallery,
.page-node-25 #block-system-main,
#block-views-gallery-preview-block{
	padding: 0 10px 0;
}

h1.page-header{
	color:#000;
	max-width: 1555px;
	overflow: hidden;
	margin: 0 auto;
	padding: 0 10px 10px;
}

.logo.navbar-btn.pull-left img{
	max-height:50px;
}

.navbar-btn {
	margin-top: 0px; 
	margin-bottom: 0px;
	}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
padding-right: 0px;
padding-left: 0px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-right: 0px; 
	padding-left: 0px; 
}

.navbar{
	margin-bottom:-1px;
}
/* ---------------------------------- */
/* Fin Bootstrap Responsive changement*/
/* ---------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Special Font                                                                                                            */
/* ----------------------------------------------------------------------------------------------------------------------- */
h1,h2,h3{
	text-transform: uppercase;
	}
h1,h2,h3,p,a{
	font-family: 'Ubuntu', sans-serif;
	src: url(fonts/Ubuntu-C.ttf);
	}
/* ---------------------------------- */
/* Special Font END                   */
/* ---------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------------ */
/* Folio                                                                                                            */
/* ------------------------------------------------------------------------------------------------------------------------ */
div.folio_bg_title{
	background-color:#006599;
	position:relative;
	width:100%;
	}
.node-type-page-folio h2{
	color:#fff;
	padding-bottom: 10px;
	padding-top:20px;
	width:90%;
	}
.node-type-page-folio h4{
	color:#fff;
	font-size:14px;
	padding-bottom:25px;
	margin-top: 0px;
	text-align: center;
	}
.node-type-page-folio .text_folio p{
	color:#000;
	padding-top:15px;
	width:90%;
	}
.node-type-page-folio .responsive-front .text_folio p {
	padding-bottom: 10px;
	}
.node-type-page-folio ul.liste_folio{
	width: 90%;
	margin: 0 auto;
	padding: 0;
	}
div.text_folio{
	padding-bottom:10px;
	}
.node-type-page-folio section.col-sm-9{
	margin-bottom:30px;
}
.node-type-page-folio div.row{
	margin-bottom:15px;
}
p.temoin{
	text-align: left;
	font-size:14px;
	width:100%;
}
@media (min-width: 1400px){
	.node-type-page-folio h2 {
	  font-size: 2.8em;
	}
	.node-type-page-folio h4 {
	  font-size: 1.3em;
	}
	.responsive-front p{
	font-size: 1.3em;
	}
	ul.liste_folio li {
	font-size: 1.2em;
	}
}
@media (max-width: 1399px){
	ul.liste_folio li{
	font-size:16px;
	}
}
@media (max-width: 1100px){
	ul.liste_folio li{
	font-size:14px;
	}
}
@media (max-width: 768px){
	.node-type-page-folio h2{
	padding-top:15px;
	}
	.node-type-page-folio .responsive-front p {
	padding-bottom: 10px;
	}
	.node-type-page-folio ul.liste_folio{
	padding-top:10px;
	}
	.node-type-page-folio p{
	width:90%;
	}
	.node-type-page-folio .text_folio_2 h3,
	.node-type-page-folio .text_folio_2 p{
	padding-top:5px;
	}
	.text_folio_2{
	padding-top:30px;
	padding-bottom:30px;
	margin-top:20px;
	}
	div.text_folio{
	margin-top:-90px;
	}
	div.text_folio h2{
	text-align: left;
	}
	div.folio_bg_title{
	background-color:#006599;
	position:relative;
	bottom:78px;
	opacity: 0.92;
	filter: alpha(opacity=92);
	width:100%;
	}
	div.folio_bg_title h2,
	div.folio_bg_title h4{
	color:#fff;
	}
	div.folio_bg_title h4{
	font-size:12px;
	padding-bottom:17px;
	margin-top: -5px;
	text-align: center;
	}
	ul.liste_folio li {
	font-size: 0.95em;
	}
}
.node-type-page-folio .text_folio_2 h3,
.node-type-page-folio .text_folio_2 p{
	color:#fff;
	padding-top:10px;
	}
.node-type-page-folio div.text_folio_2{
	background-color:#006599;
	width:100%;
	}
.node-type-page-folio div.text_folio_2 p,
.node-type-page-folio .text_folio_2 h3{
	width:80%;
	}
.node-type-page-folio .text_folio_2 h3{
	margin:0 auto;
	text-align: center;
	}
.node-type-page-folio p,
.node-type-page-folio div.text_folio_2 p{
	text-align: justify;
	}
.text_folio_2{
	padding-top:20px;
	padding-bottom:30px;
	margin-top:30px;
	}
/* ------------------------------------------------------------------------------------------------------------------------ */
/* Folio FIN                                                                                                          */
/* ------------------------------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------------------------------------ */
/* Projects All                                                                                                             */
/* ------------------------------------------------------------------------------------------------------------------------ */
section.projets_all{
	max-width:1555px;
	margin:0 auto;
	width:100%;
	}

div.side_a,
.img_block_1 img{
	float:right;
	}
div.side_b,
.img_block_2 img{
	float:left;
	}
div.side_a{
	position:relative;
	right:0;
	}
div.side_b{
	position:relative;
	left:0;
	}
/*  For Projetcts details only  */
.node-type-projets-details div.side_a,
.node-type-projets-details .img_block_2 img{
	float:left;
	}
.node-type-projets-details div.side_b,
.node-type-projets-details .img_block_2 img{
	float:right;
	}
.node-type-projets-details div.side_a{
	position:relative;
	left:0;
	}
.node-type-projets-details div.side_b{
	position:relative;
	right:0;
	}
.side_a svg {
  fill: #e78a12;
}
.side_b svg {
  fill: #54890B;
}
div.side_a,
div.side_b{
	width:49.8%;
	}

section.projets_all div.side_a.img_area,
section.projets_all div.side_b.img_area,
section.projets_all div.side_a img,
section.projets_all div.side_b img{
	width:100%;
	}

img.img_projets_all_banner{
	opacity: 1;
	filter: alpha(opacity=100);
	width:100%;
	}

img.img_projets_all_banner:hover {
	color:#e78a12;
	opacity: 0.8;
	filter: alpha(opacity=80);
	}

section.projets_all div.side_a img,
section.projets_all div.side_b img{
	position:relative;
	}
.img_block img,
.img_block_2 img{
	width:100%;
	}
div.text_projets_all{
	padding-top:5%;
	padding-bottom:4%;
	width:100%;
	}
div.text_projets_all1{
	background-color:#54890B;
	}
li.text_projets_all1{
	background-color:#54890B;
	}
div.text_projets_all2{
	background-color:#e78a12;
	}
.side_a .icon-stacked,
.side_b .icon-stacked{
	display: inline-block;
	height: 5em;
	right: .5em;
	position: absolute;
	top: .6em;
	width: 5em;
	z-index: 1;
	}
@media (max-width: 768px){
	div.side_a,
	div.side_b{
		width:100%;
	}
	div.side_b{
	padding-top:4px;
	}
	.img_block img{
	margin-bottom:25px;
	}
	.side_a .icon-stacked,
	.side_b .icon-stacked{
	display: inline-block;
	height: 4em;
	right: .3em;
	position: absolute;
	top: .6em;
	width: 4em;
	}
}	
/* --------------------------------------------------------- */
/* FIN Projects All                                      */
/* --------------------------------------------------------- */


/* ------------------------------------------------------------------------------------------------------------------------ */
/* Projects details                                                                                                         */
/* ------------------------------------------------------------------------------------------------------------------------ */
.node-type-projets-details div.side_a{
	position:relative;
	left:0;
	width:49.8%;
	}
.node-type-projets-details div.side_b{
	position:relative;
	right:0;
	width:49.8%;
	}
.projets_details_1 div.side_a{
	background-color: #fff;
	}
div.embedded-video{
	position:relative;
	left:0;
	}
div.embedded-video iframe{
	width:100%;
	}
div.text_projets_details{
	position:relative;
	float:right;
	margin-top: 10px;
}
div.text_projets_details ul{
	margin-top: 15px;
}
.node-type-projets-details .responsive-front h2{
	color:#000;
	text-align: left;
	font-size: 36px;
	margin-left: 10px;
}
.node-type-projets-details .responsive-front p{
	color:#000;
	text-align: left;
	font-size: 1.3em;
	margin-left: 10px;
	margin-top: 15px;
	width: 90%;
}
@media (max-width: 1100px){
	div.text_projets_details{
	position:relative;
	float:none;
	width:100%;
	}
}

.projets_logo{
	bottom:50px;
	right:10px;
	position:relative;
	float:right;
	width:151px;
	height:99px;
	}	

.projets_details_1{
	margin-bottom:25px;
}
@media (min-width: 769px){
	.node-type-projets-details section.slider.slider_small_display,
	.node-type-slider section.slider.slider_small_display,
	.node-type-page-folio section.slider_small_display{
	  display: none;
	}
}
@media (max-width: 768px){
	.node-type-shop div.side_a{
	width: 100%;
	margin-top: 5%;
	}
	.node-type-slider section.slider.slider_big_display{
	  display: none;
	}
	.node-type-shop div.attribute-widgets div.form-type-select.form-item-attributes-field-shirt-size.form-item.form-group{
	width:100%;
	margin-bottom: -1%;
	}
	.node-type-shop .commerce_stock_notifications_fieldset{
	margin-bottom: -1%;
	}
	.node-type-page-folio section.slider_small_display{
	display: block;
	}
	.node-type-page-folio section.slider_big_display{
	display: none;
	}
	.node-type-shop div.side_b{
	width:100%;
	}
	.node-type-shop div.product_display_details {
	width: 85%;
	margin: 0 auto;
	}
	.node-type-projets-details div.side_a{
	position:relative;
	left:0;
	width:100%;
	}
	.node-type-projets-details div.side_b{
	position:relative;
	right:0;
	width:100%;
	}
	img.img_projets_all_banner_Big {
	  display: none!important;
	}
	div.text_projets_details ul{
	margin-top: 5px;
	}
	div.text_projets_details{
	margin-top: 0px;
	}
	.node-type-projets-details .responsive-front{
	  display:none;
	}
	.node-type-projets-details ul.slides{
	background-color:#fff;
	}
	.node-type-projets-details ul.slides p,
	.node-type-projets-details ul.slides h2{
	text-align:center;
	}
	
	.node-type-projets-details .flex-control-nav {
	  bottom: 20px !important;
	}
	.node-type-projets-details .responsive-front h2{
	color:#fff;
	text-align: left;
	font-size: 36px;
	margin-left: 10px;
	}
	.node-type-projets-details .responsive-front p{
	color:#fff;
	text-align: left;
	font-size: 1.3em;
	margin-left: 10px;
	margin-top: 15px;
	width: 90%;
	}
	.projets_details_slider_text{
	margin-top:-30px;
	margin-bottom:30px;
	margin-left:2px;
	margin-right:2px;
	}
	.projets_logo{
	position:relative;
	bottom:50px;
	right:10px;
	margin-right:0px;
	margin-top:0px;
	}	
}
img.img_projets_all_banner_Big,
img.effect_hover{
	opacity: 1;
	filter: alpha(opacity=100);
	width:100%;
	}
img.img_projets_all_banner_Big:hover,
img.effect_hover:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
	}
/* --------------------------------------------------------- */
/* FIN Projects details                                      */
/* --------------------------------------------------------- */
.node-type-slider div.galleries{
	max-width: 870px;
	overflow: hidden;
	margin: 0 auto;
}

.node-type-slider li.gallery{
	background: url(images/shadow-left.png) left 140px no-repeat,url(images/shadow-right.png) right 140px no-repeat;
	height: 200px;
	overflow: hidden;
	text-align: center;
}

.node-type-slider li.gallery img{
	margin-top:-12px;
}

div.region.region-content{
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
.page-node-44 div.region.region-content,
.page-node-45 div.region.region-content{
	max-width:1555px;
}
aside.col-sm-3 {display:none;}
h1.page-header{
	margin-top:15px;
}

h1{
	display:none;
}

ul.projects_details,
ul.gallery_details {
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
}

li.gallery-projects,
li.gallery {
	display:inline;
	float:left;
}

li.gallery-projects img,
li.gallery img{
	padding-right:10px;
	padding-bottom:10px;
}
/* ---------------------------------- */
/* Résolution en dessous de 768px */
/* ---------------------------------- */
@media (max-width: 768px){
	div.image_gallery img,
	.page-node-25 div.galleries img{
		width:115px;
		height:115px;
	}
	.page-node-25 p.gallery_title{
		max-width:115px;
	}
	div.flexslider img{
	width:100%;
	height:100%;
	}
	section.front-promo h2{
	font-size:15px;
	}
	.node-type-slider div.galleries li{
	margin: 0 auto;
	}
	div.galleries{
	max-width:400px;	
	}
	.node-type-slider li.gallery img{
	height:82px;
	margin-left:10px;
	width:145px;
	}
	.node-type-slider li.gallery{
	background: url(images/shadow_768/shadow-left.png) left 60px no-repeat,url(images/shadow_768/shadow-right.png) right 60px no-repeat;
	height: 100px;
	overflow: hidden;
	margin-right:10px;
	text-align: center;
	}
}	
/* ---------------------------------- */
/* Fin des résolution en dessous de 768px */
/* ---------------------------------- */

img.img_banner_gallery{
	width:100%;
	height:100%;
	margin-bottom:10px;
}

div.flexslider img{
	width:100%;
	height:100%;
}
	
h2.block-title{
	display:none;
}

section#block-system-main div.form-type-item {
	display:none;
}

ul.language-switcher-locale-url{
	list-style-type: none;
    margin-top: 10px;
    padding: 0;
}

ul.language-switcher-locale-url li{
	display:inline;
	margin-right:10px;
	margin-left:3px;
}

/*  Footer */

.footer{
	color: white;
	height:39px;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	z-index:1000;
}
ul.liste_folio{
	list-style-type: none;
	}
.region-footer{
	max-width: 1240px;
	overflow: hidden;
	margin: 0 auto;
	padding: 0 10px 0;
    position: absolute;
}
/*  ------------------------------------------  */
@media (max-width: 767px){
	footer .navbar-toggle {
	  float: left;
	  margin-left: 45%;
	}
	footer.navbar{   
	min-height: 39px;
	}
	footer .collapse.in {
	height: 100%;
	}
	footer.container{
	opacity: 0.95;
	filter: alpha(opacity=95);
	}
	.stButton {
    margin-left: 1px;
	}
	.main-container{
	margin-bottom:30px;
	}
	p.footer_text{
	padding-top: 80px;
	padding-left: 13px;
	width:100%;
	text-align:none;
	}
	a.footer_link{
	padding-left:10px;
	}
	.navbar-inverse .navbar-toggle {
    border-color: #CBCBCB;
	background-color:#F4F4F4;
	}
	div.navbar.navbar-inverse.navbar-fixed-bottom{
    margin-bottom:0.5em;
	padding-top:0.5em;
	}
	.navbar-inverse .navbar-toggle .icon-bar {
	  background-color: #ccc;
	}
	.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	  background-color: #F4F4F4;
	}
	.footer_big_menu,
	.lang_dropdown_form {
	display:none;
	}
	.flex-control-nav {
	  bottom: 0px !important;
	}
}
@media (min-width:871px) {
	select.lang-dropdown-select-element{
	max-width: 108px;
	}
}
@media (max-width:870px) and (min-width:767px) {
	select.lang-dropdown-select-element{
	max-width: 65px;
	}
	.node-type-page-folio p.footer_text{
	  width: 100%;
	}
}
@media (min-width: 768px){
	.footer_small_menu{
	display:none;
	}
	.lang-dropdown-select-element{
	float:right;
	}
	select.lang-dropdown-select-element{
	position:relative;
	top:0.6em;
	}
	p.footer_text{
	text-align:center;
	}
}
@media (min-width: 768px){
	p.footer_text{
	text-align:center;
	margin-top:10px;
	}
}
p.footer_text,
.breadcrumb a{
	color:#5A5858;
}	
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
	background-color: #E2E2E2;
	background-image: none;
	color:#000;
}
@media (max-width: 767px){
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a, 
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover, 
	.navbar-nav .open .dropdown-menu>.active>a {
	color: #000;
	background-color: #E2E2E2;
	background-image:none;
	}
}
ul.dropdown-menu a:active{
	background-color:#e78a12;
}
footer .navbar-inverse {
  background-color: #fff;
  border-color: #EDEDED;
  background-image: -webkit-linear-gradient(top,#fff 0,#fff 100%);
  background-image: -o-linear-gradient(top,#fff 0,#fff 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff));
  background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
}

.block-locale .active { 
  display: none; 
}

footer.navbar-default .navbar-toggle {
  border-color: #ddd;
}
footer.navbar-toggle.icon-bar {
  background-color: #ccc;
}
